## Deliverable 3. Create a Travel Itinerary Map.

In [149]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [151]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
#vacation_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
#vacation_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")

vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,San Andres,CO,82.42,scattered clouds,12.5847,-81.7006,Hotel Arena Blanca
1,1,Bredasdorp,ZA,64.72,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
2,2,Jamestown,US,72.95,broken clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,3,Cidreira,BR,66.81,broken clouds,-30.1811,-50.2056,Hotel Castelo
4,4,Cape Town,ZA,69.12,few clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"

In [152]:
vacation_df.count()

City_ID                552
City                   552
Country                552
Max Temp               552
Current Description    552
Lat                    552
Lng                    552
Hotel Name             507
dtype: int64

In [153]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [154]:
locations

         Lat      Lng
0    12.5847 -81.7006
1   -34.5322  20.0403
2    42.0970 -79.2353
3   -30.1811 -50.2056
4   -33.9258  18.4232
..       ...      ...
547  38.1711  13.2393
548  54.8540  -1.8316
549  51.0572   3.3788
550  61.5996   5.0328
551 -21.0500  31.6667

[552 rows x 2 columns]

In [155]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure

fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
### EXTRA CODE. To fin the 4 cities close, I look the Toledo coordinates, previously I saw there are 4 cities close.

In [21]:
# EXTRA CODEStarting URL for Weather Map API Call.
# units=Imperial. There are three unit options: standard, metric, and imperial. 
#url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + my API
country = "Toledo"

url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + "548ee1520fdb60fc6e20dbbfe4aecab2"

url = url + "&q=" + country
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=548ee1520fdb60fc6e20dbbfe4aecab2&q=Toledo

In [156]:
#EXTRA CODE
params = {
    "radius": 2600,
    "types": "lodging",
    "key": g_key,
    "location": "39.833,-4"
    }

# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()


len(hotels["results"])

5

In [157]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

min_temp = 70
max_temp = 83

vacation_start = vacation_df.loc[(vacation_df["Max Temp"] <= max_temp) & \
                                            (vacation_df["Max Temp"] >= min_temp) & \
                                            (vacation_df["Country"] == "ES") & \
                                            (vacation_df["Hotel Name"] == "Hotel La Salve")]
                                  
vacation_end = vacation_df.loc[(vacation_df["Max Temp"] <= max_temp) & \
                                            (vacation_df["Max Temp"] >= min_temp) & \
                                            (vacation_df["Country"] == "ES") & \
                                            (vacation_df["Hotel Name"] == "Hotel La Salve")]

vacation_stop1 = vacation_df.loc[(vacation_df["Max Temp"] <= max_temp) & \
                                            (vacation_df["Max Temp"] >= min_temp) & \
                                            (vacation_df["Country"] == "ES") & \
                                            (vacation_df["Hotel Name"] == "Hotel Villa de Aranda")]

vacation_stop2 = vacation_df.loc[(vacation_df["Max Temp"] <= max_temp) & \
                                            (vacation_df["Max Temp"] >= min_temp) & \
                                            (vacation_df["Country"] == "ES") & \
                                            (vacation_df["Hotel Name"] == "Parador de Benavente")]

vacation_stop3 = vacation_df.loc[(vacation_df["Max Temp"] <= max_temp) & \
                                            (vacation_df["Max Temp"] >= min_temp) & \
                                            (vacation_df["Country"] == "ES") & \
                                            (vacation_df["Hotel Name"] == "Posada Puerta Grande")]

In [158]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
204,249,Aranda De Duero,ES,70.12,light rain,41.6704,-3.6892,Hotel Villa de Aranda

In [159]:
vacation_start[["Lat", "Lng"]].to_numpy()

array([[39.9819, -4.2835]])

In [215]:
import numpy as np
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start[["Lat","Lng"]].to_numpy()
print(star)
end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()

start1 = start.tolist()
end1 = end.tolist()
stop1_1 = stop1.tolist()
stop2_2 = stop2.tolist()
stop3_3 = stop3.tolist()
print(start1)

start = start1[0]
end = end1[0]
stop1 = stop1_1[0]
stop2 = stop2_2[0]
stop3 = stop3_3[0]
print(start)

[39.9819, -4.2835]
[[39.9819, -4.2835]]
[39.9819, -4.2835]

In [211]:
end = end1[0]
len(end)

2

In [229]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
start_end_via_stop1stop2stop3 = gmaps.directions_layer(
        start, end, waypoints = [stop1,stop2,stop3],
        travel_mode = "DRIVING")
fig.add_layer(start_end_via_stop1stop2stop3)
fig

Figure(layout=FigureLayout(height='420px'))

In [230]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,183,Torrijos,ES,82.08,scattered clouds,39.9819,-4.2835,Hotel La Salve
1,249,Aranda De Duero,ES,70.12,light rain,41.6704,-3.6892,Hotel Villa de Aranda
2,630,Benavente,ES,76.33,broken clouds,42.0025,-5.6783,Parador de Benavente
3,459,Bejar,ES,81.57,overcast clouds,40.3864,-5.7634,Posada Puerta Grande

In [231]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [232]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

# End